{{#if message}}
  {{#if hasBlock}}
    {{yield version lastVersion (action 'reload') (action 'close')}}
  {{else}}
    <div class='update-notification col-xs-12 alert alert-warning'>
      {{message}} {{#if showReload}}<a href="" {{action 'reload'}} class='btn btn-default'>{{reloadButtonText}}</a>{{/if}}
    </div>
  {{/if}}
{{/if}}
